@model Trainer

<form method="post" class="row" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Novo Treinador</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="FullName" class="p-0"></label>
            <input asp-for="FullName" class="form-control" size="32" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>




        <ul class="nav nav-tabs mt-0 p-0" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#personalinfo" aria-selected="false" role="tab">Informação Pessoal</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#trainerinfo" aria-selected="false" role="tab">Informação Treinador</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content mt-1 p-0">

            @* ************************ Informação Treinador ****************** *@

            <div class="tab-pane fade" id="trainerinfo" role="tabpanel">
                <div class="border p-3 pt-3">
                    <div class="mb-3 row p-1">
                        <label asp-for="Specialty" class="p-0"></label>
                        <input asp-for="Specialty" class="form-control" />
                        <span asp-validation-for="Specialty" class="text-danger"></span>
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="TPTD" class="p-0"></label>
                        <input asp-for="TPTD" class="form-control" />
                        <span asp-validation-for="TPTD" class="text-danger"></span>
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="TptdDate" class="p-0"></label>
                        <input asp-for="TptdDate" type="date" class="form-control" />
                        <span asp-validation-for="TptdDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @* ************************ Informação Pessoal ****************** *@

            <div class="tab-pane fade" id="personalinfo" role="tabpanel">
                <div class="border p-3 pt-3">
                    <div class="row">
                        <div class="mb-3 col-8 p-1">
                            <label asp-for="Email" class="p-0"></label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-4 p-1">
                            <label asp-for="PhoneNumber" class="p-0"></label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        @* ********************* Botões Save e Cancel **************************** *@

        <div class="row p-2">
            <div class="col-6 col-md-3 p-1">
                <button type="submit" class="btn btn-primary form-control">Guardar</button>
            </div>
            <div class="col-6 col-md-3 p-1">
                <a asp-controller="Trainer" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Voltar
                </a>
            </div>
        </div>
    </div>
</form>