@model TrainerEditViewModel

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Trainer.Id" hidden />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">Atualizar Treinador</h2>
                    <hr />
                </div>

                <div class="row">
                    <div class="col-10">
                        <div class="mb-3 row p-1">
                            <label asp-for="Trainer.FullName" class="p-0"></label>
                            <input asp-for="Trainer.FullName" class="form-control" size="32" />
                            <span asp-validation-for="Trainer.FullName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs mt-0 p-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#personalinfo" aria-selected="false" role="tab">Informação Pessoal</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#trainerinfo" aria-selected="false" role="tab">Informação Treinador</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content mt-1 p-0">

                    @* Trainer Info Tab *@
                    <div class="tab-pane fade" id="trainerinfo" role="tabpanel">
                        <div class="border p-3 pt-3">
                            <div class="mb-3 row p-1">
                                <label asp-for="Trainer.TPTD" class="p-0"></label>
                                <input asp-for="Trainer.TPTD" class="form-control" />
                                <span asp-validation-for="Trainer.TPTD" class="text-danger"></span>
                            </div>
                            <div class="mb-3 row p-1">
                                <label asp-for="Trainer.TptdDate" class="p-0"></label>
                                <input asp-for="Trainer.TptdDate" type="date" class="form-control" />
                                <span asp-validation-for="Trainer.TptdDate" class="text-danger"></span>
                            </div>
                            <div class="mb-3 row p-1">
                                <label class="p-0">Especialidades</label>
                                <select asp-for="SelectedSpecialityIds"
                                        asp-items="@(new MultiSelectList(Model.Specialities, "Id", "Name"))"
                                        class="form-control" multiple>
                                </select>
                            </div>
                        </div>
                    </div>

                    @* Personal Info Tab *@
                    <div class="tab-pane fade" id="personalinfo" role="tabpanel">
                        <div class="border p-3 pt-3">
                            <div class="row">
                                <div class="mb-3 col-8 p-1">
                                    <label asp-for="Trainer.Email" class="p-0"></label>
                                    <input asp-for="Trainer.Email" type="email" class="form-control" />
                                    <span asp-validation-for="Trainer.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-4 p-1">
                                    <label asp-for="Trainer.PhoneNumber" class="p-0"></label>
                                    <input asp-for="Trainer.PhoneNumber" type="tel" class="form-control" />
                                    <span asp-validation-for="Trainer.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-6 col-md-3 p-1">
                            <button type="submit" class="btn btn-primary form-control">Guardar</button>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a asp-controller="Trainer" asp-action="Index" class="btn btn-outline-secondary form-control">Voltar</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
}
