@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome</h1>
    <h1 class="display-4 text-success">@UserManager.GetUserName(User)</h1>
</div>
