@model ClassesTrainerViewModel
@if (User.IsInRole("Admin"))
{
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Editar Aula</h2>
            <hr />
        </div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Classes.Id" hidden/>
            <div class="mb-3 row p-1">
                <div class="col-6">
                    <label asp-for="Classes.ClassName" class="p-0"></label>
                    <input asp-for="Classes.ClassName" class="form-control" />
                    <span asp-validation-for="Classes.ClassName" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Classes.ClassTime" class="p-0"></label>
                    <input asp-for="Classes.ClassTime" class="form-control" type="datetime-local">
                    <span asp-validation-for="Classes.ClassTime" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <div class="col-6 mt-4">
                        <select asp-for="Classes.TrainerId" asp-items="@Model.TrainerList" class="form-control">
                            <option value="" disabled selected>-- Selecionar Opção --</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4">
                        <label asp-for="Classes.SpecialityId" class="p-0"></label>
                        <select asp-for="Classes.SpecialityId" asp-items="Model.SpecialityList" class="form-control form-select">
                            <option value="" disabled selected>-- Selecionar Especialidade --</option>
                        </select>
                        <span asp-validation-for="Classes.SpecialityId" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="Classes.MaxAtletes" class="p-0"></label>
                        <input asp-for="Classes.MaxAtletes" type="number" class="form-control" />
                        <span asp-validation-for="Classes.MaxAtletes" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3 row p-1">
            </div>
            @* ********************* Botões Save e Cancel **************************** *@

            <div class="row p-2">
                <div class="col-6 col-md-3 p-1">
                    <button type="submit" class="btn btn-success form-control">Guardar</button>
                </div>
                <div class="col-6 col-md-3 p-1">
                    <a asp-controller="Classes" asp-action="Index" class="btn btn-outline-secondary form-control">
                        Voltar
                    </a>
                </div>
            </div>
        </form>
    </div>
    @section Scripts {
    @{
            <partial name="_ValidationScriptsPartial" />
        }
}
}