@if (User.IsInRole("Admin"))
{
    {
        ViewData["Title"] = "Feedbacks das Aulas";
    }

    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-md-6">
                <h2 class="text-primary">Feedbacks das Aulas</h2>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tblFeedbacks" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Aula</th>
                        <th>Atleta</th>
                        <th>Comentário</th>
                        <th>Rating</th>
                        <th>Data</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    @section Scripts {
    <script src="~/js/feedbacks.js"></script>
}
}